body {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-family:  "PT Sans", sans-serif;
	text-transform: uppercase;
}

.reasons-title {
	font-size: 21px;
	font-weight: bold;
}

.search-title {
	font-size: 30px;
	font-weight: bold;
}