body {
	min-width: 1200px;
	margin: 0;
	
	font-size: 14px;
	line-height: 21px;
	font-family:  "PT Sans", "Arial", sans-serif;
	color: #333333;
	
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.container {
	position: relative;
	
	width: 1200px;
	margin: 0 auto;
	
	-webkit-box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
	
	        box-shadow: 0 0 15px 5px rgba(0,1,1,0.2);
	background-color: #ffffff
}

/*index*/

.main-header {
	padding-top: 14px;
	padding-bottom: 17px;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	
	margin-left: -69px;
	width: 138px;
	height: 70px;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	opacity: 0.3;
}

.main-navigation ul {
	padding: 0;
	margin: 0;
	
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	width: 240px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-size: 14px;
	vertical-align: top;
	font-weight: bold;
	line-height: 26px;
}

.main-navigation li:nth-child(1) {
	padding-left: 71px
}

.main-navigation li:nth-child(2) {
	margin-right: 240px;
	text-align: center;
}

.main-navigation li:nth-child(3) {
	text-align: center;
}

.main-navigation li:nth-child(4) {
	text-align: right;
	padding-right: 72px;
}

.index-photo {
	width: 1200px;
	height: 508px;
	background-color: #afbcc7;
	background-image: url(../img/welcome.png),
	url(../img/mask.png), url(../img/index-bg.jpg);
	background-position: center center, bottom;
	background-repeat: no-repeat;
}

.reasons-promo {
	padding: 58px 0 40px;
	
	text-align: center;
}

.reasons-promo-title {
	width: 450px;
	margin: 0 auto 30px auto;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.reasons-row-layout {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

 .reason-blue {
	width: 400px;
	padding: 0 46px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	 
	color: #ffffff;
	text-align: center;
	
	background-color: #81b3d2;
}

.reason-title {
	padding: 47px 70px 10px;
	margin: 0;
	
	font-size: 21px;
	color: #000000;
}

.reason-title.white {
	color: white;
}

.reason-text {
	padding-top: 5px
}

.reason-image1 {
	width: 800px;
	height: 256px;
}

.feature {
	width: 400px;
	padding: 142px 50px 69px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	text-align: center;
}

.feature-title {
	margin-bottom: 25px;
	
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.house {
	background: url(../img/house.png)  center 60px no-repeat;
}

.food {
	background: url(../img/food.png)  center 60px no-repeat;
}

.souvenirs {
	background: url(../img/souvenirs.png)  center 60px no-repeat;
}

.reason-image2 {
	width: 800px;
	height: 256px;
}

.row4 {
	width: 400px;
	padding: 0 50px;
	padding-bottom: 45px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	text-align: center;
	
	background-color: #eeeeee;
}

.search {
	position: relative;
}

.search-form {
	margin: 50px auto 0;
	width: 568px;
}

.btn {
	font-size: 21px;
	line-height: 26px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family:  "PT Sans", "Arial", sans-serif;
	
	border: none;
}

.form-btn {
	height: 86px;
	width: 568px;
	
	background-color: #766357;
	
	cursor: pointer;
}

.search-title {
	margin-bottom: 34px;
	
	font-size: 30px;
	font-weight: bold;
	color: #000000;	
}

.map {
	width: 1200px;
	height: 593px;
	margin-top: 135px;
	
	background-image: url(../img/map.jpg) ;
}

.search-promo {
	width: 450px;
	padding-top: 30px;
	margin: 0 auto; 
	
	text-align: center;
}

.form div {
	color: #000000;
	font-weight: bold;
	
	border: none;
}

.search-form {
	position: absolute;
	top: 156px;
	left: 316px;
	
}
.form {
	display: block;
	
	padding: 55px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-weight: bold;
	
	background-color: #ffffff;
	
	-webkit-animation: bounce 0.9s;
	
	        animation: bounce 0.9s;
}

.form-show {
	display: none;
}

.in,
.out {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	margin-bottom: 29px;
}

.in input,
.out input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 38px;
	width: 345px;
	padding: 0 40px 0 13px  ;
	
	font-weight: bold;
	text-transform: uppercase;
	font: inherit;
	
	background-color: #f2f2f2;
	border: none;
}

.in input:hover,
.out input:hover {
	background-color: #ebebeb;
}

.in input:focus,
.out input:focus {
	background-color: #ffffff;
}

.in label {
	padding-top: 10px;
	padding-right: 21px;
	
	cursor: pointer;
}

.out label {
	padding-top: 10px;
	padding-right: 17px;
	
	cursor: pointer;
}

 .icon-calendar  {
	position: absolute;
	right: 9px;
	top: 9px;
	 
	width: 21px;
	height: 22px;
	 
	font-size: 0;
	 
	background-image: url(../img/spritesheet.png);
	background-position: -199px -10px;
	 
	cursor: pointer;
}

.icon-calendar:hover {
	background-position: -240px -10px;
}

.icon-calendar:active {
	background-position: -10px -52px;
}

.people {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	margin-top: 30px;
}

.people label {
	margin-right: 40px;
	padding-top: 10px;
	
	cursor: pointer;
}

.people input {
	width: 38px;
	height: 36px;
	
	text-align: center;
	font-weight: bold;
	font: inherit;
	
	background-color: #f2f2f2;
	outline: none;
	border: 0;
}

.icon-minus,
.icon-plus {
	width: 38px;
	height: 38px;
	
	font-weight: bold;
	font-size: 0;
	
	border: 0;
	background: #f2f2f2 url(../img/spritesheet.png);
	
	cursor: pointer;
}


.icon-minus {
	background-position: 2px 8px
}

.icon-minus:hover {
	background-position: -30px 8px;
}

.icon-minus:active {
	background-position: -62px 8px;
}


.icon-plus {
	background-position: -94px 4px;
}

.icon-plus:hover {
	background-position: -125px 4px;
}

.icon-plus:active {
	background-position: -156px 4px;
}

.people button + label  {
	margin-left: 50px;
}

.find-btn {
	display: block;
	width: 458px;
	padding: 16px;
	margin: 54px auto 0;
	
	background-color: #81b3d2;
	cursor: pointer;
}

.find-btn:hover {
	background-color: #669ec0;
}

.find-btn:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #669ec0;
}

.main-footer {
	position: absolute;
	bottom: 0;
	
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	    -webkit-box-align: center;
	        align-items: center;
	padding: 33px 0px;
	
	background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	    -webkit-box-align: center;
	        align-items: center;
	padding: 33px 0px;
}

.hashtag {
	width: 400px;
	padding-left: 130px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.hashtag a {
	text-decoration: none; 
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.social {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	    -webkit-box-pack: center;
	        justify-content: center;
	
	width: 400px;
	text-align: center;
}

.social-btn {
	height: 48px;
	width: 46px;
	
	font-size: 0;
	background-color: lightblue;
	background-image: url(../img/spritesheet.png);
}
	
.social-btn.tw {
	margin-right: 6px;

	background-position: -115px -221px;
}

.social-btn.tw:hover {
	background-position: -289px -10px;
}

.social-btn.tw:active {
	background-position: -181px -221px;
}

.social-btn.fb {
	margin-right: 6px;
	
	background-position: -143px -153px;
}

.social-btn.fb:hover {
	background-position: -10px -221px;
}

.social-btn.fb:active {
	background-position: -210px -153px;
}

.social-btn.yt {
	background-position: -277px -138px;
}

.social-btn.yt:hover {
	background-position: -247px -274px;
}

.social-btn.yt:active {
	background-position: -277px -206px;
}

.copyright {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	    -webkit-box-pack: center;
	        justify-content: center;
	-ms-flex-align: center;
	    -webkit-box-align: center;
	        align-items: center;
	width: 400px;
}

.copyright p {
	line-height: 26px;
}

.copyright-logo {
	display: inline-block;
	width: 113px;
	height: 39px;
	margin-left: 6px; 
	
	font-size: 0;
	
	background-image: url(../img/spritesheet.png);
	background-position: -10px -94px;
}

.copyright-logo:hover {
	background-position: -143px -94px;
}

.copyright-logo:active {
	background-position: -10px -153px;
}

/*hotel*/

.main-navigation .disabled {
	color: #766357;
	
	pointer-events: none;
	cursor: default;
}	

.filters {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	padding: 25px 72px 0 72px;
	
	background: #647483 url(../img/filter-background.jpg) 0 -57px no-repeat
}

.filters fieldset {
	color: white;
}

.filters p {
	margin: 0;
	margin-bottom: 26px;
}

.filters p:last-child {
	margin-bottom: 29px;
}

.filters legend {
	margin-bottom: 25px;
	
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filters label {
	font-weight: normal;
}

.filter-1 	{
	width: 255px;
	padding: 0;
	margin: 0;
	
	border: none;
}

.filter-2 {
	width: 485px;
	padding: 0;
	margin: 0;
	
	border: none;
}

.filter-range {
	width: 320px;
	padding: 0;
	margin: 0;
	
	border: none;
}


.filter-range legend {
	margin-bottom: 10px;
}


.price-controls {
	position: relative;
	
	height: 32px;
	margin-bottom: 20px;
	
	font-size :0;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	
	font-size: 14px;
	line-height: 28px;
	vertical-align: top;
	
	cursor: pointer
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	padding-left: 5px;
	
	color: inherit;
	font: inherit;
	
	background: none;
	border: none;
}

.range-controls {
    position: relative;
	
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
	
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
	
    background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;
	
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
	display: block;
    margin: 0 auto;
    padding: 6px 35px;
	
	font-size: 14px;
	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;
	
	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}

.btn-transparent:hover {
  	color: #000000;
	
	background: #ffffff;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	
	display: block;
	padding-left: 40px;
	
	line-height: 21px;
	
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	width: 26px;
	height: 22px;
	
	background-image: url(../img/spritesheet.png);
	background-position: -139px -52px;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;	
	width: 26px;
	height: 22px;
	
	background-image: url(../img/spritesheet.png);
	background-position: -51px -52px;
}

input[type="checkbox"]:disabled + label::before {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	width: 26px;
	height: 22px;
	
	background: url(../img/spritesheet.png);
	background-position: -97px -52px;
}

input[type="checkbox"]:checked:disabled + label::after {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;	
	width: 26px;
	height: 22px;
	
	background: url(../img/spritesheet.png);
	background-position: -181px -52px;
}

.results {
	padding: 30px 72px 30px;
	
	font-size: 0;
	
	border-bottom: 1px solid #e5e5e5;
}

.find-text {
	display: inline-block;
	width: 117px;
	margin: 0 47px 0 0 ;
	
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
}

.sorting-text {
	display: inline-block;
	width: 76px;
	margin: 0 39px 0 0;
	
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	vertical-align: middle
}

.sorting-list {
	display: inline-block;
	padding: 0;
	margin-right: 470px;
	
	font-size: 0;
}

.sorting-list li {
	display: inline-block;
	margin-right: 33px;
	
	font-size: 14px;
	vertical-align: middle
}

.sorting-list a {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
	color: #81b3d2;
}

.sorting-list a:active:not(.active) {
	color: #000000;
	
	border: none;
}

.sorting-list .active {
	color: #81b3d2;
	opacity: 1;
	
	border: none;
	text-decoration: none;
}

.arrow-icon {
	display: inline-block;
}

.arrow-up,
.arrow-down {
	display: inline-block;
	width: 10px;
	height: 10px;
	
	vertical-align: middle;
	
	background-image: url(../img/spritesheet.png)
}

.arrow-up {
	margin-right: 12px;
	
	background-position: -307px -78px;
}

.arrow-up:hover:not(.arrow-active) {
	background-position: -338px -78px;
}

.arrow-up:active:not(.arrow-active) {
	background-position: -307px -108px;
}

.arrow-down {
	background-position: -227px -52px;
}

.arrow-down:hover:not(.arrow-active) {
	background-position: -258px -52px;
}

.arrow-down:active:not(.arrow-active) {
	background-position: -276px -82px;
}

.hotel {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	padding: 27px 72px 21px;
	
	border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
	width: 135px;
	margin: 3px 30px 0 0;
	
}

.hotel-image img {
	max-width: 100%;
	height: auto;
}

.hotel-description {
	width: 780px;
}

.hotel-title {
	display: block;
	margin-bottom: 9px;
	
	font-size: 21px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;	
}

.hotel-title:hover {
	color: #81b3d2;
}

.hotel-title:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-text {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: justify;
	    -webkit-box-pack: justify;
	        justify-content: space-between;
	width: 180px;
	margin-bottom: 14px;
}

.hotel-text p {
	margin: 0;
}

.hotel-btns {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.hotel-btn {
	display: block;
	padding: 2px 3px 4px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

.details {
	background-color: #81b3d2;
	width: 110px;
}

.details:hover {
	background-color: #669ec0;
}

.details:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.book {
	width: 142px;
	margin-left: 6px;
	
	background-color: #766357;
}

.book:hover {
	background-color: #604e43;
}

.book:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #503e33;
}

.hotel-ratings {
	width: 111px
}

.rating-stars {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: end;
	    -webkit-box-pack: end;
	        justify-content: flex-end;
	margin-bottom: 50px;
}

.rating-stars span {
	display: block;
	width: 18px;
	height: 17px;
	margin-left: 6px;
	
	font-size:0;
	
	background-image: url(../img/spritesheet.png);
	background-position: -77px -221px;
}

.rating-text {
	width: 110px;
	height: 21px;
	padding-left: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	color: #666666;
	
	background-color: #f2f2f2;
}

@-webkit-keyframes bounce {
		0% {
			-webkit-transform: translateY(0);
			        transform: translateY(0);
	}
	
		30%  {
    		-webkit-transform: translateY(40px);
    		        transform: translateY(40px);
  	}
	
		50% {
			-webkit-transform: translateY(-20px);
			        transform: translateY(-20px);
	}
	
		70% {
			-webkit-transform: translateY(30px);
			        transform: translateY(30px);
	}
  		
		90%  {
    		-webkit-transform: translateY(-10px);
    		        transform: translateY(-10px);
	}
  	
		100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

}